@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
body {
  height: 95vh;
  width: 95;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: green;
  font-family: "Josefin Sans", sans-serif;
}

canvas {
  box-shadow: 0 8px 10px -6px black;
}
